[data-theme="dark"],
.dark {
  --background-1: var(--slate-950);
  --font-1: var(--slate-100);
  --theme-icon-bg: var(--c-morning-sky);

  // $background-1: $slate-800;
  // $font-1: $slate-100;
  // $theme-icon-bg: yellow;
}
