[data-theme="light"],
.light {
  --background-1: var(--slate-100);
  --font-1: var(--slate-800);
  --theme-icon-bg: var(--c-night-sky);

  // $background-1: $slate-100;
  // $font-1: $slate-800;
  // $theme-icon-bg: red;
}
