:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-500: #64748b;
  --slate-800: #1e293b;
  --slate-950: #020617;

  --c-grey-1: #e0e7ee;
  --c-grey-2: #d5d6df;
  --c-grey-3: #445565;
  --c-night-sky: #2c325f;
  --c-morning-sky: #8de6f0;
}
